<!DOCTYPE HTML>

<html>
	<head>
        <title>Bot1-ChessBots</title>	
        <link rel="shortcut icon" href="/public/images/favicon.ico" />
		<script type="text/javascript" src="/modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/modules/chess.js/chess.js"></script>
        <script type="text/javascript" src="/modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js"></script>
        <link rel="stylesheet" href="/public/css/chess.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/public/css/main.css" />
	</head>
<body class="is-preload">

	<!-- Header -->
		<header id="header">
			<a class="logo" href="index.html">Index</a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="bot1.html">Bot 1</a></li>
			</ul>
		</nav>

	<!-- Heading -->
		<div id="heading" >
            
        </div>

    <!-- Main -->
        <br>
		<h2 class="board" style="margin-bottom:6px">
			Random Bot
		</h2>
		<div id="board" class="board"></div>
		<br>
		<div class="info">
			<div id="sidenav" class="side_nav" >
				<div id="move-history" class="move-history"  >
				
			  </div>
			</div>
		</div>
		<script type="text/javascript" src="/public/js/chess_api.js"></script>

	<!-- Footer -->
    <footer id="footer">
            <div class="inner">
                <div class="content">
                   
                    <section>
                        <h4>Links</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </footer>

	<!-- Scripts -->
		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/browser.min.js"></script>
		<script src="/public/js/breakpoints.min.js"></script>
		<script src="/public/js/util.js"></script>
		<script src="/public/js/main.js"></script>

</body>
</html>